.DS_Store
Thumbs.db
.idea
.vscode
.fleet
/node_modules
/vendor
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/public/storage
/bootstrap/cache/*
!/storage/framework/.gitignore
!/storage/app/.gitignore
!/bootstrap/cache/.gitignore
/public/build
/public/hot
.env
.env.*
!.env.example
.phpunit.cache
.phpunit.result.cache
coverage
*.log
npm-debug.log*
yarn-error.log*
*.cache
*.tmp
auth.json
docker-compose.override.yml
Homestead.json
Homestead.yaml